*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

#Custom
*/.DS_Store
/*.iml
/*.ipr
/*.iws
/*.apk
/.idea
/.gradle
/out
/target
/classes
/output
/gradle
/gen-external-apklibs
/local.properties
/gradle.properties
/gradlew
/gradlew.bat
/app/GithubKeyStore

